/****************דף הבית****************/

/*קאבר חלק עליון*/
#topSection {
    background-image: url(https://hadar-bustenai.github.io/prototype/Prototype_HadarYuval/images/shuka_banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    margin-bottom: 8rem;
}

#demo {
    padding-top: 6rem;
}

/*סליידר מתחלף*/
.carousel-indicators li {
    background-color: white;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    -webkit-transition: all 0.3s; /* Safari */
    transition: all 0.3s;
}

.carousel-indicators .active {
    background-color: #004D82;
    border: 0.4px solid white;
}

.carousel-indicators li:hover {
    cursor: pointer;
    background-color: #004D82;
    border: 0.4px solid white;
}

.carousel-item {
    height: 6rem;
    text-align: center;
    padding-right: 1rem;
    color: white;
    margin-top: 2rem;
    direction: rtl;
}

    .carousel-item p:first-child {
        font-size: 350%;
        word-spacing: 4px;
        line-height: 150%;
        font-weight: 200;
    }

    .carousel-item p:nth-child(2) {
        font-size: 100%;
    }

/*כפתור CTA*/
.btn-outline-dark, .btn-play {
    width: 11rem;
    background-color: #ABC933;
    border-color: #ABC933;
    border-radius: 50px;
    margin-top: 2.5rem !important;
    color: white;
    font-weight: bold;
    outline: none;
    -webkit-transition: all 0.3s; /* Safari */
    transition: all 0.3s;
}

    .btn-outline-dark:hover {
        background-color: transparent;
        border-color: #ABC933;
        -webkit-transition: all 0.3s; /* Safari */
        transition: all 0.3s;
    }

.btn-play {
    background-color: transparent;
    margin-right: 8px;
}

    .btn-play:hover {
        color: #ABC933;
        -webkit-transition: all 0.3s; /* Safari */
        transition: all 0.3s;
    }

    .btn-outline-dark:focus, .btn-play:focus {
        outline: none !important; /* למה לא עובד?????? */
    }

.far.fa-play-circle {
    margin-left: 5px;
}

/*כפתור פלי*/

/*.carousel-item a:last-child {
    display: inline-block;
    margin-right: 32%;
    margin-top: 1rem;
    position: absolute;
    color: white;
    font-size: 300%;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}
    .carousel-item a:last-child:hover {
        color: #ABC933;
    }*/

.carousel-inner {
    height: 30rem;
}

/*פופ אפ סרטון*/
.modal-content {
    background-color: transparent !important;
    border: none !important;
}

.modal-header {
    border: none !important;
}

.close {
    color: white !important;
    opacity: 1 !important;
    text-shadow: none !important;
    font-size: 200% !important;
}

    .close:focus, .close:hover {
        color: #ABC933 !important;
        -webkit-transition: all 0.2s; /* Safari */
        transition: all 0.2s;
    }

.modal-dialog {
    max-width: 760px !important;
    margin: 0 auto !important;
    z-index: 99;
}

/*קרוסלה דמויות*/
.container {
    max-width: 90%;
}

.slick-slider {
    margin-bottom: 8rem;
    text-align: center !important;
    touch-action: pan-x !important;
}

.imgTheam {
    border: 1px solid #ABC933;
    border-radius: 50%;
    width: 75%;
    stroke: none;
    margin-left: 2rem;
    -webkit-transition: all 0.3s; /* Safari */
    transition: all 0.3s;
}

    .imgTheam:hover {
        opacity: 0.7;
    }

.slick-active {
    outline: none;
}

.carouselSlick div p {
    text-align: center;
    margin: 1rem 0 0 0;
}

/*נושאי שיחה*/
#subjectTableDiv {
    margin-bottom: 3rem;
}

.tableClass {
    direction: rtl;
}

.subject-box {
    width: 33%;
    height: auto;
    text-align: center;
    font-size: 100%;
    padding-bottom: 5rem;
}

.fa-comments {
    font-size: 200%;
    margin-bottom: 1rem;
}

.tableClass .subject-box a:first-of-type {
    text-decoration: none;
    color: #333333 !important;
    display: block;
    margin-bottom: 1rem;
    font-weight: bold;
}

.tableClass .subject-box a:last-of-type {
    text-decoration: none;
    color: #ABC933;
    font-weight: bold;
    border-bottom: 1px solid transparent;
    -webkit-transition: border-bottom 0.2s; /* Safari */
    transition: border-bottom 0.2s;
}

    .tableClass .subject-box a:last-of-type:hover {
        border-bottom: 1px solid #ABC933;
    }


/*****media queries*****/
@media only screen and (max-width: 600px) {

    /*קאבר חלק עליון*/
    #topSection {
        background-image: url(https://hadar-bustenai.github.io/prototype/Prototype_HadarYuval/images/shuka_banner.png);
        background-repeat: no-repeat;
        background-size: cover, 72rem;
        background-position: top center;
        background-attachment: fixed;
        background-position-x: -10rem;
    }

    #demo {
        padding-top: 0;
    }

    .persona-title {
        display: none;
    }

    .carousel-inner {
        height: 24rem;
    }

    .carousel-item p:first-child {
        font-size: 200%;
    }

    #topSection, .slick-slider {
        margin-bottom: 4rem;
    }

    .slick-prev, .slick-next {
        display: none !important;
    }

    .container {
        max-width: 100%;
    }

    .carousel-item p:nth-child(2) {
        font-size: 90%;
    }

    .btn-outline-dark, .btn-play {
        width: 9rem;
        font-size: 90%;
    }

    h2 {
        font-size: 180%;
    }
}

@media (min-width: 768px) {
    .persona-title {
        display: block;
    }
}

@media (min-width: 576px) {

    .carouselSlick div p {
        margin-left: 2rem;
    }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (max-width: 576px) {

    .carouselSlick div p {
        margin-left: 3rem;
    }
}
